@{
    ViewBag.Title = "Home Page";
}


<form action="/BD" method="get">
    <div class="row buscador">
        <div class="col-md-4"></div>
        <div class="col-md-8">

            <div class="col-lg-6">
                <div class="input-group">

                    <input type="text" input name="busqueda" class="form-control" placeholder="Search for...">

                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Buscar</button>
                    </span>

                </div>
            </div>
        </div>

    </div>
</form>


<div class="row">

    <div class="col-md-4">
            <div class="panel panel-success">
                <div class="panel-heading"><h4>Promocion</h4></div>
                <div class="panel-body">
                    <div class="img-descrip">
                        <img src="~/Media/promo1.jpg" />
                    </div>

                    <div class="txt-descrip">
                        Ut sed magna faucibus, eleifend enim ut, sollicitudin odio. Mauris vehicula, nulla blandit elementum cursus, ex tortor egestas mauris, et faucibus quam diam non nulla. Sed eget elementum nisi. Donec sed dolor imperdiet, finibus mauris ac, finibus ex. Aenean accumsan ut nibh vel molestie. Ut lobortis lorem at lectus bibendum, sed gravida massa laoreet. In faucibus ligula eget est porttitor iaculis. Proin ullamcorper justo pretium blandit mollis.
                    </div>
                <div class="panel-footer">
                    <div class="row">
                        <form action="/BD/Details" method="get"><div class="input-group">

                           

                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" value="1" name="leermas">Leer Mas</button>
                            </span>

                        </div></form>
                            

                            </div>
                    
                    
                    
                </div>
            </div>
        </div>
      </div>

    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading"><h4>Promocion</h4></div>
            <div class="panel-body">
                <div class="img-descrip">
                    <img src="~/Media/promo2.jpg" />
                </div>

                <div class="txt-descrip">
                    Ut sed magna faucibus, eleifend enim ut, sollicitudin odio. Mauris vehicula, nulla blandit elementum cursus, ex tortor egestas mauris, et faucibus quam diam non nulla. Sed eget elementum nisi. Donec sed dolor imperdiet, finibus mauris ac, finibus ex. Aenean accumsan ut nibh vel molestie. Ut lobortis lorem at lectus bibendum, sed gravida massa laoreet. In faucibus ligula eget est porttitor iaculis. Proin ullamcorper justo pretium blandit mollis.
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <form action="/BD/Details" method="get">
                            <div class="input-group">



                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" value="2" name="leermas">Leer Mas</button>
                                </span>

                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading"><h4>Promocion</h4></div>
            <div class="panel-body">
                <div class="img-descrip">
                    <img src="~/Media/promo3.jpg" />
                </div>

                <div class="txt-descrip">
                    Ut sed magna faucibus, eleifend enim ut, sollicitudin odio. Mauris vehicula, nulla blandit elementum cursus, ex tortor egestas mauris, et faucibus quam diam non nulla. Sed eget elementum nisi. Donec sed dolor imperdiet, finibus mauris ac, finibus ex. Aenean accumsan ut nibh vel molestie. Ut lobortis lorem at lectus bibendum, sed gravida massa laoreet. In faucibus ligula eget est porttitor iaculis. Proin ullamcorper justo pretium blandit mollis.
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <form action="/BD/Details" method="get">
                            <div class="input-group">



                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" value="3" name="leermas">Leer Mas</button>
                                </span>

                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">

    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading"><h4>Promocion</h4></div>
            <div class="panel-body">
                <div class="img-descrip">
                    <img src="~/Media/promo2.jpg" />
                </div>

                <div class="txt-descrip">
                    Ut sed magna faucibus, eleifend enim ut, sollicitudin odio. Mauris vehicula, nulla blandit elementum cursus, ex tortor egestas mauris, et faucibus quam diam non nulla. Sed eget elementum nisi. Donec sed dolor imperdiet, finibus mauris ac, finibus ex. Aenean accumsan ut nibh vel molestie. Ut lobortis lorem at lectus bibendum, sed gravida massa laoreet. In faucibus ligula eget est porttitor iaculis. Proin ullamcorper justo pretium blandit mollis.
                </div>
                <div class="panel-footer">
                    <div class="row">

                        <form action="/BD/Details" method="get">
                            <div class="input-group">



                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" value="5" name="leermas">Leer Mas</button>
                                </span>

                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading"><h4>Promocion</h4></div>
            <div class="panel-body">
                <div class="img-descrip">
                    <img src="~/Media/promo3.jpg" />
                </div>

                <div class="txt-descrip">
                    Ut sed magna faucibus, eleifend enim ut, sollicitudin odio. Mauris vehicula, nulla blandit elementum cursus, ex tortor egestas mauris, et faucibus quam diam non nulla. Sed eget elementum nisi. Donec sed dolor imperdiet, finibus mauris ac, finibus ex. Aenean accumsan ut nibh vel molestie. Ut lobortis lorem at lectus bibendum, sed gravida massa laoreet. In faucibus ligula eget est porttitor iaculis. Proin ullamcorper justo pretium blandit mollis.
                    <div class="panel-footer">
                        <div class="row">
                            <form action="/BD/Details" method="get">
                                <div class="input-group">



                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit" value="6" name="leermas">Leer Mas</button>
                                    </span>

                                </div>
                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading"><h4>Promocion</h4></div>
            <div class="panel-body">
                <div class="img-descrip">
                    <img src="~/Media/promo1.jpg" />
                </div>

                <div class="txt-descrip">
                    Ut sed magna faucibus, eleifend enim ut, sollicitudin odio. Mauris vehicula, nulla blandit elementum cursus, ex tortor egestas mauris, et faucibus quam diam non nulla. Sed eget elementum nisi. Donec sed dolor imperdiet, finibus mauris ac, finibus ex. Aenean accumsan ut nibh vel molestie. Ut lobortis lorem at lectus bibendum, sed gravida massa laoreet. In faucibus ligula eget est porttitor iaculis. Proin ullamcorper justo pretium blandit mollis.
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <form action="/BD/Details" method="get">
                            <div class="input-group">



                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" value="4" name="leermas">Leer Mas</button>
                                </span>

                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
    