
@{
    ViewBag.Title = "moreinfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Giorgios - ahorra hasta un 50%</h2>

<div class="row">
    <div class="col-md-4"><img src="~/Media/promo1.jpg" class="img-descrip" /></div>
    <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean consequat porttitor enim commodo molestie. Curabitur lacinia porta laoreet. Duis elementum, libero vitae consectetur euismod, ex dui suscipit dui, non rutrum lorem urna a sem. Curabitur ante massa, maximus vel odio id, tempor fermentum libero. Sed elementum suscipit vehicula. Morbi sed accumsan nisl. Phasellus cursus pellentesque arcu. Integer a erat accumsan, mollis ipsum vitae, aliquet neque. Nulla a magna eleifend, maximus tortor quis, pretium tellus. Aenean justo libero, egestas iaculis luctus nec, lacinia sed metus. Maecenas fringilla maximus est, non tempus nibh suscipit ac. Suspendisse vitae risus non ex hendrerit consequat aliquam ac lorem. Etiam efficitur turpis vitae ante tincidunt finibus. Integer ac erat et nisl aliquet porttitor.</p>
    <p>Nullam suscipit tortor lacinia erat condimentum, et aliquam felis ultrices. Mauris dapibus purus in scelerisque rhoncus. Integer et porttitor metus. Nunc ex nibh, volutpat tempus tempor eleifend, tristique vel magna. Morbi ornare, nulla vel porttitor aliquet, tortor augue ullamcorper erat, eu feugiat leo leo in libero. Nulla lacinia sodales diam. Cras interdum ligula scelerisque, venenatis mauris vel, pretium nisl. Curabitur sed mollis velit, ut commodo justo. Donec at leo quis ante venenatis varius. Phasellus ut risus tristique, volutpat nisl vitae, pulvinar sem. Maecenas condimentum lacinia blandit.</p>
    </div>
</div>
<div class="row">

    <div class="col-md-4"><p class="alert-warning">Expira el 20/4/2017</p>
    <p class="alert-info">Cupones Disponibles: <b>35</b></p>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-sm-12"><button class="btn btn-default" type="button">Comprar YA!</button></div>
        </div>
        
    
    </div>
    <div class="col-md-4"></div>
</div>

